{% extends 'index.html' %}
{% block poll %}
{% if user.is_authenticated %}
<section class="block max-w-xs mx-auto my-12">
<div class="flex flex-col gap-8 justify-center items-center">
    <h1 class="text-5xl">
        Profile
    </h1>
    <a href="edit/">Edit</a>
    <ul class="text-center flex flex-col gap-8">
        <li>
            <h2>
                Username :
            </h2>
            <p>
              {{ user.username }}
            </p>
        </li>
        <li>
            <h2>
                Email :
            </h2>
            <p>
                {{ user.email_address }}
            </p>
        </li>
        <li>
            <h2>
                First Name :
            </h2>
            <p>
                {{ user.first_name }}
            </p>
        </li>
        <li>
            <h2>
                Last Name :
            </h2>
            <p>
                {{ user.last_name }}
            </p>
        </li>
        <li>
            <h2>
                Role :
            </h2>
            <p>
                {% if user.is_staff %}
                    Staff
                {% else %}
                    Worker
                {% endif %}
            </p>
        </li>
    </ul>
</div>
</section>
{% endif %}
{% endblock %}
