{% extends 'index.html' %}
{% block poll %}
<section class="block max-w-xs mx-auto my-12 p-4 bg-shrine-pink-100 shadow-lg shadow-black-500/40 w-2/3">
        {% if user.is_staff %}
        <div class="flex flex-row gap-8 justify-center items-center ">
            <a href="edit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold my-4 py-2 px-4 rounded">
                Edit
            </a>
            <form action="delete/" method="post">
                {% csrf_token %}
                <input type="submit" class="bg-red-500 hover:bg-red-900 text-white font-bold my-4 py-2 px-4 rounded cursor-pointer" value="Delete">
            </form>
        </div>
        {% endif %}
        <div class="text-center flex flex-col gap-8">
            <div class="flex flex-col gap-2">
                <h1>
                    {{ product.name }}
                </h1>
            </div>
            <img src="{{ product.product_image.url }}" alt="">
            <div class="flex flex-col gap-2">
                <h2>
                Description :
                </h2>
                <p>
                    {{ product.product_description }}
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2>
                    Route :
                </h2>
                <p>
                    {{ product.slug }}
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2>
                    Category :
                </h2>
                <p>
                    {{ product.category }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

