{% extends 'index.html' %}
{% block poll %}
<section class="block max-w-xs mx-auto ">
<div class="flex flex-col gap-8">
    <h1 class="text-5xl text-center">
    Create Category
    </h1>
    <form method="post" enctype="multipart/form-data" class="flex flex-col gap-8 justify-center content-center text-center" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group flex flex-col gap-2">
            <label for="category_name">Name</label>
            <input type="text" name="category_name" class="form-control" id="category_name" placeholder="Category Name">
        </div>
        <div class="form-group flex flex-col gap-2">
            <label for="slug">Slug</label>
            <input type="text" name="slug" class="form-control" id="slug" placeholder="Slug">
        </div>
        <div class="form-group flex flex-col gap-2">
            <label for="category_description">Product Description</label>
            <input type="text" name="category_description" class="form-control" id="category_description" placeholder="Category Description">
        </div>
        <input type="file" id="category_image" name="category_image" value="upload image" placeholder="">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</section>
{% endblock %}