{% extends 'index.html' %}
{% block poll %}

<h1>
    {{ category.category_name }}
</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ category.category_name }}">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="{{ category.category_description }}">
    </div>
    <input type="submit" value="Save">
</form>
{% endblock %}