{% extends 'index.html' %}
{% block poll %}
<section class="block max-w-xs mx-auto my-12">
<div class="flex flex-row gap-8 justify-center items-center p-4 bg-shrine-pink-100 shadow-lg shadow-black-500/40">
    <a href="edit">
        edit
    </a>
    <form action="delete/" method="post">
        {% csrf_token %}
        <input type="submit" value="delete">
    </form>
</div>
<div class="text-center flex flex-col gap-8">
    <div class="flex flex-col gap-2">
        <h1>
            {{ category.category_name }}
        </h1>
    </div>
    <img src="{{ category.category_image.url }}" alt="">
    <div class="flex flex-col gap-2">
        <h2>
        Slug :
        </h2>
        <p>
            {{ category.slug }}
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <h2>
            Description :
        </h2>
        <p>
            {{ category.category_description }}
        </p>
    </div>
</div>
</section>
{% endblock %}