{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intranet</title>
    {% tailwind_css %}
</head>
<body class="m-0">
    <header>
        <ul class="flex flex-row gap-6 justify-end m-2">
            {% if user.is_authenticated %}
            <li>
                <h3>Welcome {{ user.username }}</h3>
            </li>
            <li>
                <a href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>

            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </header>
    <section class="flex flex-row m-8 gap-8">
    <nav>
        <ul class="flex flex-col gap-2 ">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'all_projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'all_tickets' %}">Tickets</a>
            </li>
            <li>
                <a href="{% url 'all_categories' %}">Categories</a>
            </li>
            {% if user.is_staff %}
            <li>
                <a href="{% url 'create' %}">Create Project</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create Category</a>
            </li>
            <li>
                <a href="{% url 'create_ticket' %}">Create Ticket</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% block poll %}{% endblock %}
    </section>