{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intranet</title>
    {% tailwind_css %}
</head>
<body>
    <header class="flex flex-row">
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>

        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <h3>Welcome {{ user.username }}</h3>
            </li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </header>

    {% block poll %}{% endblock %}
